@import '../../variables.scss';

li.gift {
    width: 25%;
    min-width:250px;
    background:$cream;
    color:$black;
    border-radius:20px;
    padding:10px;
    margin: 20px;
    h2 {
        font-size: 20px;
    }
    .image-container {     
        .gift-image {
            border-radius:15px;
            display:block;
            width:100%;
        }
    }
    .info-container {
        text-transform: capitalize;
        width: 100%;
        padding:0px 10px;
        .gift-quantity{
            margin-right:10px;
        }
        .gift-name {
            flex-grow: 2;
        }
    }
    .buttons {
        display:flex;
        justify-content: flex-end;
        button {
            display: inline-block;
            &.delete-gift {
                display:block;
                background-color: $orange;
                &:hover,&:active,&:focus {
                  background-color: lighten($orange,10);
                }
            }
            &.edit-gift {
                display:block;
                background-color: $green;
                &:hover,&:active,&:focus {
                  background-color: lighten($green,10);
                }
            }
        }
    }
}