.gift {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    .gift-quantity{
        margin-right:10px;
    }
    .gift-name {
        flex-grow: 2;
    }
    .gift-image {
        display:block;
        max-height: 50px;
    }
    button {
        border-radius: 0;
    }
}