@import '../../variables.scss';

li.gift {
    display: flex;
    width: 100%;
    background:$white;
    border-radius:20px;
    padding:10px;
    margin-bottom:30px;
    .image-container {     
        .gift-image {
            border-radius:15px;
            display:block;
            max-width: 150px;
        }
    }
    .info-container {
        text-transform: capitalize;
        width: 100%;
        margin-left:20px;
        .gift-quantity{
            margin-right:10px;
        }
        .gift-name {
            flex-grow: 2;
        }
    }
    .buttons {
        button {
            border-radius: 0;
            display: inline-block;
        }
    }
}