@import './variables';
@import './mixins';

* {
  box-sizing: border-box;
}

body {
  margin:0;
  padding:0;
  background-color: $white;
  color:$black;
  @include main-font;
}
.App {
  padding:0;
  margin:0;
  width:100%;
  line-height: 1.2em;
  header {
    padding:50px;
    padding-bottom:250px;
    width:100%;
    margin:0 auto;
    background:$orange;
    color:$white;
    position:relative;
    h1 {
      margin-bottom:40px;
    }
    .description {
      max-width: 700px;
      width:100%;
      margin-bottom:50px;
    }
  }
  input {
    @include main-font;
    border:none;
    background:transparent;
    padding:10px;
    border-bottom:1px solid $green;
    display:inline-block;
    margin-right:10px;
    &:hover, &:active,&:focus {
      outline:none;
      border-color: $orange;
    }
  }
  #main-container {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    padding:40px;
    width: 100%;
    border-radius:30px;
    position:relative;
    margin-top:-250px;
    .gifts-container {
      width: 100%;
      ul {
        list-style-type: none;
        padding:0;
        margin:0;
      }
    }
  }
}


.custom-shape-divider-bottom-1640912836 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1640912836 svg {
  position: relative;
  display: block;
  width: calc(154% + 1.3px);
  height: 163px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1640912836 .shape-fill {
  fill: $white;
}