@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Work+Sans&display=swap');
@import './variables';

* {
  box-sizing: border-box;
}

body {
  margin:0;
  padding:0;
  background-color: $cream;
  color:$green;
}
.App {
  font-family: 'Work Sans', sans-serif;
  padding:0;
  margin:0;
  width:100%;
  line-height: 1.2em;
  header {
    background: $white;
    padding:30px;
  }
  h1 {
    font-family: 'Dancing Script', serif;
    margin-bottom:40px;
  }
  input {
    font-family: 'Work Sans', sans-serif;
    border:none;
    background:transparent;
    padding:10px;
    border-bottom:1px solid $green;
    &:hover, &:active,&:focus {
      outline:none;
      border-color: $orange;
    }
  }
  #main-container {
    display:flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: flex-start;
    padding:40px;
    width: 80%;
    max-width: 700px;
    height:80vh;
    background-color: $cream;
    border-radius:30px;
    position:relative;

    .gifts-container {
      margin-top:30px;
      width: 100%;
      ul {
        list-style-type: none;
        padding:0;
        margin:0;
      }
    }
  }
}

